<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
    </head>
<body>
    <main>
        <div class="barra-total">
            <div ><a href=""><h3>Precio</h3></a>  
            </div>
            <div>
               <a href=""><h3>Cantidad</h3></a> 
            </div>
            <div>
                <a href=""><h3> Total</h3></a>
            </div>
            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <p class="nombre">Bocadito de nuez </p>
                    <p class="precio">$111</p>
                    <p class= "cantidad"></p>
                    <p class= "Total"></p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-chia.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <p class="nombre">Bocadito de chia </p>
                    <p class="precio">$111</p>
                    <p class= "cantidad"></p>
                    <p class= "Total"></p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-almendras.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <p class="nombre">Bocadito de almendras </p>
                    <p class="precio">$111</p>
                    <p class= "cantidad"></p>
                    <p class= "Total"></p>
                </div>
                </a>
            </article>
            
        </div>
    </main>

  <%- include('./partials/header') %>
  <%- include('./partials/footer') %>
</body>
</html>