<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

  <%- include('./partials/header') %>
  <main>
    <section class="form-register">
        <form action="/products/create" method="POST">
            
            <h4>Nuevo Producto</h4>
            <div>
            <label for="producto">nombre de producto</label>
            <input class="control" type="text" name="nombre de producto" id="producto" placeholder="ej:barrita de semillas de girasol">
            </div>


            <div>
            <label for="category">category</label>
            <input class="control" type="text" name="category" id="category" placeholder="ej:organico">
            </div>
            
            
            <div>
            <label for="price">precio</label>
            <input class="control" type="number" name="price" id="price">
            </div>

            <div>
            <label for="description">Descripcion</label>
            <input class="control" type="text" name="description" id="description">
            </div>
            <button class="boton" type="submit">Registrarse</button>
           
        </form>
    </section>
  </main>

  <%- include('./partials/footer') %>