<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

  <%- include('./partials/header') %>

    <main>

        <img src="img/banner_index.png" class="banner-index">

        <div class="barra-categorias">
            <div ><a href=""><h3>Frutos secos</h3></a>  
            </div>
            <div>
               <a href=""><h3>Veganos</h3></a> 
            </div>
            <div>
                <a href=""><h3> Gluten Free</h3></a>
            </div>
            <div>
                <a href=""><h3>Especias</h3></a>
            </div>
        </div>

        <div class="titulo-pn">
            <h2>PRODUCTOS NUEVOS</h2>
        </div>

        <section>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de nuez </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-chia.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de chia </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-almendras.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de almendras </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/barra-frutilla.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Barra de frutilla </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

        </section>

        <div class="titulo-pn">
            <h2>PRODUCTOS DESTACADOS</h2>
        </div>

        <section>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/tofu-soyana.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Tofu </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href="#"><div class="contenedor-foto-producto">
                    <img src="img/mantequilla-mani.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Mantequilla de maní </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
            </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/leche-soja.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Leche de soja </p>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/aceite-almendras.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <div class="precio">$111</div>
                    <div class="nombre">Aceite de almendras </div>
                    <button class="boton" type="submit">añadir al carrito</button>
                </div>
                </a>
            </article>

        </section>

    </main>
    
    <%- include('./partials/footer') %>
    <%- include('./partials/footer') %>

</body>
</html>