<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

  <%- include('./partials/header') %>

  <main>
    <section class="form-register">

        
    <form action="/users/create" method="POST" 
    enctype="multipart/form-data">
        
        <h4>Formulario Registro</h4>
        <div>
            <label for="name">nombre de usuario</label>
            <input class="control" type="text" name="name" id="name" placeholder="ej:HE-MAN83">
        </div>

        <div>
            <label for="lastName">apellido</label>
            <input class="control" type="text" name="lastName" id="lastName" placeholder="ej:HE-MAN83">
        </div>

        <div>
            <label for="email">mail</label>
            <input class="control" type="email" name="email" id="email" placeholder="ej:JuanPerez@mail.com">
        </div>
        
        <div>
            <label for="category">genero</label>
            <input class="control" type="text" name="category" id="category">
        </div>

        <div>
            <label for="re-password">contraseña</label>
            <input class="control" type="password" name="password">
        </div>
            <button class="boton" type="submit">Registrarse</button>
       
    </form>
</section>
</main>
    
<%- include('./partials/footer') %>

</body>
</html>